body {
    padding: 0;
}

.starter-template {
    text-align: center;
}

.banner {
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: 55%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1{
    color: #FFF;
}

#design-sort {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#design-sort ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

#design-sort ul li:last-child{
    margin-left: 40px;
}

.design-showcase {
    width: 100vw;
    height: auto;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
}

.design-container {
    width: 85%;
    height: auto;
}


.design-row {
    margin-left: 0;
    height: auto;
    width: 100%;
    padding: 10px 0px;
}

.design-row:first-child {
    margin-top: 70px;
}
.design-image {
    height: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.design-image img {
    width: 100%;
    height: 100%;
}

.design-stats {
    height: 10%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container {
    background-color: #f8f8f8;
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
}


.detail-container {
    background-color: #f8f8f8;
    width: 100vw;
    height: auto;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-row {
    height: 50px;
    width: 80vw;
    margin-top: 120px;
}

.details-title-left{
    height: 100px;
    padding: 0;
}

.details-title-right {
    margin-left: 20px;
    display:flex;
    flex-direction: column;
}

.details-title-right h1 {
    color: #95989A;
}

.details-title-right p {
    color: #95989A;
}

.details-media-stats-container {
    display:flex;
    flex-direction: column;
}

.details-media-stats {
    display:flex;
    flex-direction: row;

}

.details-media-stats p {
    color: #95989A;
    margin-left: 20px;
}

.details-media-stats img {
    width: 30px;
    height: 30px;
}


.details-title-left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.details-media{
    width: 80vw;
    margin-top: 120px;
}

.details-media-left{
    margin-left: 50px;
}

.details-media-image-container {
    background-color: #FFF;
    width: 550px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-media-image-container img {
    width: 500px;
    height: 350px;
}

.details-comments{
    width: 80vw;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.details-comments-left {
    width: 45%;
}

.details-comments-left-title {
    margin-bottom: 40px;
}

.details-comments-left h1 {
    color: #95989A;
    font-size: 28px;
}
.details-comments-right {
    width: 45%;
}

.details-comments-right h1 {
    color: #95989A;
    font-size: 28px;
}

.details-comments-left-display {
    display: flex;
    flex-direction: row;
}

.details-comments-left-display-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.details-comments-left-display-text{
    margin-left: 25px;
    width: 70%;
}

.details-comments-left-display-text h3 {
    font-size: 20px;

}

.details-comments-left-text {
    margin-top: -10px;
}

.details-comments-left-text p {
    color: #95989A;
}
.details-comments-left-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* footer styling */

.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}


/* end of footer */
